*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
   
}
.square img{
    width: 12px;
    height: 12px;
}
